# Apache must be properly configured in order for this to work
# sudo a2enmod rewrite
#
# in Apache configuration:
#
# <Directory "/var/www">
#    AllowOverride All
# </Directory>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>